<title>Index</title>
<h2>Index</h2>
<p>
    <button class="btn btn-primary" id="create">Create</button>
</p>
<table class="table">
    <tr>
        <th>
            Key
        </th>
        <th>
            Value
        </th>
        <th></th>
    </tr>
    <tbody data-bind="foreach: lookupCollection">
        <tr data-bind="template: { name: Mode, data: $data }"></tr>
    </tbody>
</table>

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/App/AppKO.js"></script>
}