<title>Index</title>
<h2>Index</h2>
<p>
    <button class="btn btn-primary" id="create">Create</button>
</p>
<table class="table">
    <tr>
        <th>
            Key
        </th>
        <th>
            Value
        </th>
        <th></th>
    </tr>
    <tbody data-bind="foreach: lookupCollection">
        <tr>
            <td data-bind="text: Key"></td>
            <td data-bind="text: Value"></td>
            <td>
                <button class="btn btn-success">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
